@import './Home/less/antMotionStyle.less';


.home-page{
    padding-top: 40px;
    .title-wrapper{
        margin-bottom: 12px;
    }
    padding-bottom: 40px;
}
.content0-block-item ,.content1-block-item ,.content2-block-item{
    width: fit-content;
}

.content0-block-title{
    color: #FFF;
}

.content0-block-content{
    color: #FFF;
}

.content0-block-bottom{
    background-color: #234FEC;
    padding: 10px 40px;
    margin: -36px 20px;
    position: absolute;
    box-shadow:  0px 2px 15px #217BFB
}


.content1-block-bottom ,.content2-block-bottom{
    background-color: #FFFFFF;
    padding: 14px 20px;
    margin: -36px 20px;
    position: absolute;
    box-shadow:  0px 2px 15px #217BFB
}

.content1-block-content,.content2-block-content{
    color: #8F9092;
}

.content5-wrapper .content5-img-wrapper .block .content5-block-content > span {
    width: 100%;
    height: 160px;
    display: block;
    background: #ffffff;
    img{
        height: fit-content;
        width: fit-content;
    }
}

.copyright{
    a{
        color: #CCCCCC ;
      }
}

.footercontent01{
    line-height: 30px;
    font-weight: 600;
    color: #CCCCCC;
}

.f01{
    float: left;
    margin-right: 20px;
    margin-top: 10px;
}

.content15-wrapper{
    .title-image{
        color: #FFFFFF;
    }
}

.content16-wrapper{
    .title-h1{
        color: #FFFFFF !important;
        font-size: 24px !important;
    }
    .title-content{
         color: #FFF;
         font-size: 20px;
    }
}

.feature17-block-title {
    font-size: 14px;
    float: left;
    margin-left: 8px;
    margin-bottom: 16px;
    color: rgba(255, 255, 255, 0.85);
}



.feature17-block-content {
    clear: both;
    color: rgba(255, 255, 255, 0.75);
}

.feature7-block-hidden{
    visibility: hidden;
}

.feature18-title-h1{
    color: #FFF;
}

.feature18-block-title{
    flex: none;
    margin-left: 30px;
    font-weight: 500;
    color: #FFF;
}

.feature18-block-content{
    align-self: flex-end;
    margin-left: -58px;
    color: #FFF;
}
.feature18-block-image{
    display: contents;
}

.content19-block-item{
    padding: 10px ;
    box-shadow:  0px 2px 15px #217BFB;
    .ant-btn-primary{
        border-color: #2855E8;
        background: #2855E8;
    }
    a{
        color: #FFF;
    }
}

.content20-block-item{
    box-shadow:  0px 2px 15px #CCCCCC;
    border-radius: 8px;
    
}

.product-card-0{
    padding: 0 2% 0 14% !important;
  
}

.product-card-1{
    padding: 0 14% 0 2% !important;
}

.content19-wrapper .content19-block-icon{
    margin-top: 20px;
    height: 150px;
    width: 150px;
    img{
        width: 140px;
        
    }
}

.content19-block-item-tag{
    text-align: start;
}

.content19-block-item-price{
    color: #234FEC;
    font-size: 28px;
    font-weight: 600;
    text-align: start;
    padding-top: 10px;
    .num{
        margin-left: 20px;
    }
    .unit{
        font-size: 13px;
    }
}

.content19-block-item-desc{
    text-align: start;
    padding-left: 20px;
    span{
        font-size: 14px;
        font-weight: 500;
    }
}

.content19-block-item-desc2{
    text-align: start;
    padding-left: 20px;
    padding-top: 10px;
    .fontnum{
        color: #234FEC;
        font-size: 22px;
        font-weight: 500;
    }
    .fontnum2{
        font-size: 14px;
        font-weight: 600;
        margin-left: 10px;
    }
    fontnum3{
        font-size: 14px;
        font-weight: 600;
    }
}

.content19-block-item-desc3{
    text-align: start;
    padding-left: 20px;
    padding-top: 10px;
    .fontnum5{
        font-size: 13px;
        font-weight: 600;
    }
}

.content19-block-item-desc5{
    text-align: start;
    padding-top: 10px;
    padding-left: 30px;
    font-size: 12px;
    font-weight: 400;
}

.content19-block-button{
    padding: 16px;
}

.content21-wrapper{
    .title-h1{
        color: #FFF !important;
    }
    .title-content{
        color: #FFF;
    }
    .title-content2{
        color: #FFF;
        font-size: 20px;
        letter-spacing: 4px;
    }
    .title-content3{
        color: #FFF;
        font-size: 16px;
        margin-bottom: 10px;
        .neworder{
            padding-left: 12px;
         
                width: 364px;
                height: 28px;
                overflow-wrap: break-word;
                color: rgba(42, 90, 243, 1);
                font-size: 24px;
                letter-spacing: 4px;
                font-family: MicrosoftYaHeiSemibold;
                font-weight: NaN;
                text-align: right;
                white-space: nowrap;
                line-height: 28px;
       background: linear-gradient(to left,#fff,#245EEE);
      
              background-color: #FFF;
        }
        .neworder2{
            padding-right: 12px;
                width: 364px;
                height: 28px;
                overflow-wrap: break-word;
                color: rgba(42, 90, 243, 1);
                font-size: 24px;
                letter-spacing: 4px;
                font-family: MicrosoftYaHeiSemibold;
                font-weight: NaN;
                text-align: right;
                white-space: nowrap;
                line-height: 28px;
            background: linear-gradient(to right,#fff,#245EEE);
            background-color: #FFF;
        }
    }
}

.morequestion{
    margin: auto;
    color: #3C63EE;
    border-color: #3C63EE;
    :hover{
        color: #3C63EE;
        border-color: #3C63EE;
    }
}